$primary-color: #ff6b00;
$primary-dark: #111;
$primary-light: #555;


$secondary-color: #333;
$secondary-dark: #c0392b;
$secondary-light: #f1948a;


$white: #ffffff;
$black: #000000;
$gray-light: #ecf0f1;
$gray-dark: #7f8c8d;


$accent-color: #f1c40f;
$accent-dark: #f39c12;
$accent-light: #f9e79f;